<% provide(:title, current_user.user_name) %>
  <%= render 'shared/user_info' %>
<p>投稿した写真が３列で表示</p>


  <div class="col-md-8">
    <% if @user.photos.any? %>
      <h3>Photos (<%= @user.photos.count %>)</h3>
      <ol class="photos">
        <%= render @photos %>
      </ol>
      <%= will_paginate @photos %>
    <% end %>
  </div>


