<% provide(:title, "top page") %>
<div class="flame container">
  <% @posts.each do |post| %>
    <div class="content-block">
      <div class="flex space-between">
        <div class="user-about flex">
          <div class="image-user">
            マイ画像
          </div>
          <div class="name">
            高橋祥樹
          </div>
        </div>

        <div class="action-menu flex">
          <div class="like"> 
            good
          </div>
          <div class="comment">
            いいね
          </div>
        </div>
      </div>

      <div class="container">
        <div class="up-image">
          <%= post.content %>
        </div>

          <% if post.images.attached? %>
        <div class="up-image">
          <% post.images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        </div>
          <% end %>

      </div>
    </div>
  <% end %>
</div>
