<% provide(:title, "投稿画像") %>

<div class="row">
  <aside class="col-2 col-md-3">
    <%= link_to gravatar_for(@user, size: 120) %>
  </aside>
    <div class="name">
      <p>フルネーム：<%= @user.user_name %></p>
    </div>
    <div class="name">
      <p>ニックネーム：<%= @user.pen_name %></p>
    </div>
   
  <div class="center photo-margin">
    <%= render @photo %>
  </div>
</div>